<div class="facebook-login-container">
    <div>
        <div style="color: #fff;font-size: 24px;margin-bottom:10px;"><span style="color: #00abff;">Atmosphere</span>GICI</div>
        <div class="social-cont">
            <button class="btn btn-block btn-social btn-facebook" (click)="onFacebookLoginClick()">
	    	<i class="fa fa-facebook fa-fw"></i>Sign in with Facebook
		</button>
        </div>
        <div class="social-cont">
            <button class="btn btn-block btn-social btn-google" (click)="onFacebookLoginClick()">
	    	<i class="fa fa-google"></i>Sign in with Google
		</button>
        </div>
    </div>
</div>