<div class="body" id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
        <a pageScroll class="navbar-brand page-scroll" href="#page-top" target="_self">Atmosphere</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a pageScroll class="page-scroll" href="#cta" target="_self">Login</a>
          </li>
          <li>
            <a pageScroll class="page-scroll" href="#team" target="_self">Our Team</a>
          </li>
          <li>
            <a class="page-scroll" href="mailto:noag@senexx.com?subject=Love Your App&body=You guys made a great job!" target="_self">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="header-content">
            <div class="header-content-inner section-heading">
              <h1>Are you Happy?</h1>
              <h1>Is the guy sitting next to you feeling sad?</h1>
              <a pageScroll href="#download" class="btn btn-outline btn-xl page-scroll" target="_self">Find out now!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="/assets/welcome.jpg" class="img-responsive" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="download" class="download bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-heading">Discover your office emotions!</h2>
          <p>Get connected to your team emotions with a dedicated slack channel and by a live dashboard</p>
          <a pageScroll href="#cta" class="btn btn-outline btn-xl page-scroll">Whats next?</a>
        </div>
      </div>
    </div>
  </section>
  <section id="cta" class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Stop waiting! <br>Start exploring.</h2>
        <p>There are sad people out there!</p>
        <a routerLink="/login" class="btn btn-outline btn-xl page-scroll" target="_self">Let's Get Started!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
  <section id="team" class="contact bg-primary">
    <div class="container">
      <h2>Our team!</h2>
      <ul class="list-inline list-team">
        <li>
          <img src="https://avatars2.githubusercontent.com/u/1775602?v=3&s=400" alt="jenya" class="img-circle rounded float-left">
          <div class="teammate-name">Jenya</div>
          <div class="teammate-desc">CTO</div>
        </li>
        <li>
          <img src="https://avatars1.githubusercontent.com/u/11300892?v=3&s=400" alt="Amir" class="img-circle rounded float-left">
          <div class="teammate-name">Amir</div>
          <div class="teammate-desc">VP Product</div>
        </li>
        <li>
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/005/097/098/270b2de.jpg" alt="Eugene" class="img-circle rounded float-left">
          <div class="teammate-name">Euge</div>
          <div class="teammate-desc">VP R&D</div>
        </li>
        <li>
          <img src="https://avatars3.githubusercontent.com/u/19281783?v=3&s=460" alt="Noa" class="img-circle rounded float-left">
          <div class="teammate-name">Noa</div>
          <div class="teammate-desc">The Queen</div>
        </li>
        <li>
          <img src="https://avatars2.githubusercontent.com/u/20623008?v=3&s=460" alt="Nikita" class="img-circle rounded float-left">
          <div class="teammate-name">Nikita</div>
          <div class="teammate-desc">Site Reliability Engineer</div>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="container">
      <p>&copy; 2017 Atmosphere powered by GICI. All Rights Reserved.</p>
      <ul class="list-inline">
        <li>
          <a pageScroll href="#">No Privacy</a>
        </li>
        <li>
          <a pageScroll href="#">No Terms</a>
        </li>
        <li>
          <a pageScroll href="#">..And No FAQ</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
